node_modules/
.next/
out/
build/
coverage/

.env
.env.*
.env.example
*.pem
.sofin/

tmp/
uploads/
statics/qrcodes/
src/statics/qrcodes/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.DS_Store
